@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@300;400;500&display=swap");

@font-face {
  font-family: "Wosker";
  src: url("/path-to-wosker-font.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #6b46c1;
  --background: #121212;
  --text: #dfdad8;
  --text-muted: #bdbdbd;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "IBM Plex Sans", sans-serif;
  
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.animate-slide-up {
  animation: slideUp 0.5s ease-in-out;
}

.animate-pulse {
  animation: pulse 2s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-fade-in,
  .animate-slide-up,
  .animate-pulse {
    animation: none;
  }
}

