.contentContainer {
    display: flex;
    padding: 0px 182px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    min-height: 100vh;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 680px;
    place-content: start;
    place-self: center;
    width:100%;
    max-width: 1440px;

  }
  
  .heroSection {
    display: flex;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 128px;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: center;
    gap: 0px;
  }
  
  .workSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 180px;
    justify-content: left;
  }
  
  .subsection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 56px;
  }
  
  .cardarrangement {
    display: flex;
    width: 100%;
    gap: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .cardarrangement.large {
    flex-direction: column;
    gap:88px;
  }
  
  .cardarrangement.tiles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .cardarrangement.list {
    flex-direction: column;
  }
  
  .h2 {
    color: #dfdad8;
    text-align: left;
    font-family: "Wosker", sans-serif;
    font-size: 144px;
    line-height: 78%;
    font-weight: 400;
    padding: 0px;
    margin-top: 32px;
    margin-bottom: 12px;
    height: 100%;
  }
  
  .p2 {
    color: #bdbdbd;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 210%;
    opacity: 0.88;
    margin: 0;
    padding: 0;
  }
  
  .heroline {
    display: flex;
    width: 100%;
    max-width: 1300px;
    justify-content: space-between;
  }
  
  .heroLink {
    color: #bdbdbd;
    opacity: 1;
    transition: opacity 0.3s, color 0.3s;
    text-decoration: none;
    position: relative;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 210%;
  }
  
  .heroLink:hover {
    opacity: 1;
  }
  
  .heroLink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #dfdad8;
    transition: width 0.3s ease-in-out;
    pointer-events: none;
  }

  
  .featuredWorkHeader {
    display: flex;
    justify-content: space-between;
    

    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .viewModeButtons {
    display: flex;
    gap: 10px;
  }
  
  .viewModeButtons button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
    padding: 5px;
  }
  
  .viewModeButtons button:hover,
  .viewModeButtons button.activeViewMode {
    opacity: 1;
  }
  
  .cardLink {
    text-decoration: none;
    color: inherit;
      display: contents;

  }
  
  @media (max-width: 1328px) {
    .contentContainer {
      padding: 0px 32px;
      padding-bottom: 550px;
      gap: 24px;
    }
  
    .h2 {
      font-size: 130px;
      text-wrap: nowrap;
      margin-top: 12px;
    }
  
    .heroSection {
      padding-top: 64px;
      padding-bottom: 64px;
      align-items: start;
      gap: 16px;
    }
  
    .subsection {
      gap: 24px;
    }
  }
  
  @media (max-width: 768px) {
    .h2 {
      font-size: 112px;
      text-wrap: wrap;
    }
  
    .heroline {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .cardarrangement.tiles {
      flex-direction: column;
    }
  
    .featuredWorkHeader {
      flex-direction: row;
      align-items: flex-start;
      gap: 16px;
      justify-content: space-between ;
    }
  }
  
  