body{

    background: var(--DarkSurface);

}
.page{
    width:100%;
    display: flex;
    flex-direction: column;
    padding-bottom:620px;
    height: fit-content;
}

.contentcontainer{
    display: flex;
    padding: 0px 182px;
    padding-top:214px;
    flex-direction: column;
    align-items: center;
    gap: 180px;
    min-height: 100vh;
    justify-content: space-between;
    position:relative;
    max-width:1440px;
    place-self: center;
}

.subsection{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    justify-content: space-between;
}

.sub1section{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 120px;
    justify-content: space-between;
    margin-top: 24px;
}

.sub2section{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    place-content: center;

}
.sub3section{
    display: flex;
    flex-direction: column;
    width: 49%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    place-content: flex-start;
}

.rowcontent{
    display:flex;
    flex-direction: row;
    place-content: flex-start;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width:100%;
}

.cardarrangement{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    row-gap: 64px;
    justify-content: space-between;
}


.image{
    background-color:var(--DarkElevation);
    border-radius: 8px;
    display:flex;
    
    object-fit: cover;
}
 .image-full{
    height: 100%;
    width: 100vw;
    background-color: unset;
    display:block;
    place-self: center;
    place-content: center;
    place-items: center;
    align-self: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 24px;
    padding-left: 38px;
    max-width: 1920px;
 }


.image-large{
    height: auto;
    width:100%;
}

.image-small{

    height: auto;
    width:49%;
}

.image-dynamic{

    background:none;
    height: auto;
    width:100%;


}

.sh1{
    color: --Light;
    font-family: "IBM Plex Mono";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 54.516px */
    letter-spacing: -1px;
    text-transform: capitalize;
    padding:0px;
    margin:0px;
}

.sh2{
    color: --Light;
    /* Pre-Heading 1 */
    text-transform: uppercase;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-weight: 500;
    line-height: 210%;
    opacity: 0.8;
    margin: 0;
    padding: 0;
}

.p1{
    color: var(--Light);
    /* Body Regular 1 */
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%; /* 58.8px */
    padding:0px;
    margin:0px;
    place-content: center;
    opacity: 0.95;
}

@media(max-width: 1200px){
    .rowcontent{

        flex-direction: column;
        align-items: flex-start;
        width:100%;

    }
    .contentcontainer{

        padding: 0px 32px;
        padding-top:72px;
        gap:72px;
    }
    .image-small{
        height:auto;
        width:100%;
    }

    .sub2section{

        width:100%;
    }

}


@media (max-width:768px){

    .cardarrangement{

        flex-direction: column;
        flex-wrap: nowrap;
    }
    .sub3section{

        width: 100%;
    }

    .subsection{
        gap: 16px;
    }
}

@media (max-width:480px){

    .p1{
        font-size:16px;
    }
    
    .image-small{
        height:auto;
        padding:0px;
    }

}