
.page{
    width:100%;
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    padding-bottom:620px;
    padding-left: 24px;
    padding-right: 24px;
    height: fit-content;
}

.contentcontainer{
    display: flex;
    padding: 0px 240px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    min-height: 100vh;
    justify-content: space-between;
    position:relative;
    max-width:1440px;
    place-self: center;
    width:100%;
}


.largetext{
    color: var(--Precisely-White-100, #D9D9D9);
    font-family: "IBM Plex Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 189%; /* 75.6px */
    padding: 44px 0px;
}


.subsection{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    justify-content: space-between;
}

.sub1section{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    justify-content: space-between;
    margin-top: 24px;
}

.sub2section{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    place-content: center;
    gap:16px;

}
.sub3section{
    display: flex;
    flex-direction: column;
    width: 49%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    place-content: flex-start;
}

.rowcontent{
    display:flex;
    flex-direction: row;
    place-content: flex-start;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width:100%;
}

.cardarrangement{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    row-gap: 64px;
    justify-content: space-between;
}


.image{
    border-radius: 8px;
    display:block;
    border-color: var(--DarkElevation);
    border-width: 1px;
    border-style: solid;
    object-fit: cover;
    position:relative;
}
 .image-full{
    height: 100%;
    width: 100vw;
    background-color: none;
    display:block;
    place-self: center;
    place-content: center;
    place-items: center;
    align-self: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 24px;
    border: none;
 }

 .image-bleed{
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: auto;
    display: block;
}

.image-large{
    height: auto;
    width:100%;
}

.image-small{
    height: auto;
    width:49%;
}

.image-dynamic{
    background:none;
    height: auto;
    width:100%;
}

.fullBleedWrapper {
  position: relative;          /* stay in document flow */
  width: 100vw;                /* full viewport width */
  left: 50%;                   /* move to center of viewport */
  margin-left: -50vw;          /* escape contentcontainer padding/max-width */
  margin-right: -50vw;         /* optional */
  box-sizing: border-box;      /* safe */
  display:block;
}

.fullBleedImage {
  display: block;
  width: 100%;
  height: auto;
}

.sh1{
    color: --Light;
    font-family: "IBM Plex Mono";
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 54.516px */
    letter-spacing: -1px;
    text-transform: capitalize;
    padding:0px;
    margin:0px;
}

.sh2{
    color: #fff;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    margin:0px;
}

.p1{
    color: #d8d8d8;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-top:0px;
    margin-bottom:32px;
}

@media(max-width: 1200px)
{

    /* .rowcontent
    {
        flex-direction: column;
        align-items: flex-start;
        width:100%;
    } */

    .contentcontainer{

        padding-top:24px;
        padding: 0px 64px;

    }

    /* .image-small{
        height:auto;
        width:100%;
    }

    .sub2section{
        width:100%;
    } */

       .largetext{
        padding:0px;
        padding-bottom:32px;
    }
}


@media (max-width:768px){

    /* .cardarrangement{

        flex-direction: column;
        flex-wrap: nowrap;
    }
    .sub3section{

        width: 100%;
    }

    .subsection{
        gap: 16px;
    } */

    .image-full{
    padding: 0px;

 }

    .contentcontainer{

        padding-top:24px;
        padding: 0px;
        gap: 20px;
    }

    .page{
    padding-left: 16px;
    padding-right: 16px;
    }

}

@media (max-width:480px){

    /* .p1{
        font-size:16px;
    }
    
    .image-small{
        height:auto;
        padding:0px;
    } */
}