/* src/components/Button.module.css */
.button{
    justify-content: center;
    border: none;
    padding: 16px 24px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.2s;
    border-radius: 100px;
    display:flex;
    align-items: center;
    text-decoration: none;
}

.text-only{
    background-color: transparent;
    color: var(--Gray-3);
}

.icon-only{
    background-color: transparent;  
    place-content: center;
    height:72px;
    border-radius: 100%;
    color: var(--Gray-3);


}

.icon-and-text{
    background-color: transparent;
    gap:16px;
    align-items: center;
    place-content: center;
    color: var(--Gray-3);

}
  
.button:hover {
    color: var(--Gray-4);
    background-color: #BDBDBD08;
}
  
.button:active{
    background-color: #BDBDBD10; /* Active color state */
    color: #ffffff;
}

.active{
    background-color: #BDBDBD10; /* Active color state */
    color: #ffffff;
    border-radius: 100px;
}

.text{
    font-family: 'IBM Plex Sans Condensed';
    font-size: 16px;
    font-style:normal;
    font-weight: 400;
    line-height: 210%; /* 42px */
    word-spacing: 4px;
    letter-spacing: 3.1px;
    text-transform: uppercase;
    text-wrap: nowrap;
}


.icon{

 
    place-self: center;
    font-size: 24px;    
    align-items: center;
    height:24px;
    
}

.onlight{
   
    color: rgba(0, 0, 0, 0.769);
}

.onlight:hover{

    color:black;
}