.footer{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    background: #030708;
    place-content: center;
    Height: 500px;
    position:absolute;
    width:100%;
    bottom:0;
}

.linksection{

    display: flex;
    align-items: center;
    gap: 45px;
    height:fit-content
    
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ddd; /* Placeholder color */
}


@media(max-width: 768px){
    .footer{

        flex-direction: column;
        align-items: center;
        place-content: center;


    }
    .linksection{

        flex-direction: column;
        gap:24px;
        align-items: center;
        place-content: center;


    }
}
@media(max-width: 480px){
    .footer {
        display: none;
    }
}
.navButton {
  color: #d8d8d8;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.navButton:hover {
  color: #ffffff;
}