/* src/components/Navbar.module.css */

.navbar {
    display:flex;
    width:100%;
    padding: 48px 48px;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-direction:row;
  }

  .leftSection {
    display: flex;
    align-items: center;
    gap: 0px;
    flex-direction: row;
  }
  
  .rightSection {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    gap: 16px;
    flex-direction: row;
  }

/* Dropdown menu for the right section, initially hidden */
 .dropdown {
    display: none;
    flex-direction: column;
  }
  
  .avatar {
    width: 48px;
    height: 48px;
    background-color:none; /* Placeholder color */
  }


  .navButton{
    text-decoration: none;
  }

  .menuButton{
    display:none;  
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .rightSection {
      display: none; /* Hide the right section's links */
    }

      /* Display the menu button */
  .menuButton {
    display: block;
    cursor: pointer;
    height:72px;
  }

   /* When the menu is expanded, show the dropdown */
   .dropdown.show {
    display: flex;
    position: absolute;
    top: 3.5%; /* Adjust this to your navbar height */
    right:8%;
    background-color: var(--DarkElevation); /* Or match the navbar color */
    width: fit-content; /* Adjust as necessary */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional styling */
    align-items: flex-start;
    padding: 16px 16px;
    border-radius: 16px;
}

  /* Add styles for individual dropdown links */

}

@media(max-width: 480px){

    .dropdown.show{

        top: 4.5%; /* Adjust this to your navbar height */
        right:10.5%;

    }

}
    
 